Sphinx
sphinx-rtd-theme
jinja2==3.0.3
twine
wheel
pytest
base64
binascii
builtins
contextlib
copy
datetime
functools
gc
hashlib
inspect
json
os
pickle
stat
sys
tempfile
time
types
dataclasses
dis
distutils
importlib
typing